.bglogin{
  width: 120px;
  height: 120px;
  margin: -85px auto -20px auto;
}
 .login-form{
  background: rgb(0, 0, 0, 0.3);
  width: 400px;
  height: 400px;
  color: #007bff ;
  padding: 22px;
  border-radius: 5px;
  position: absolute;
  top: 50%; right: 50%;
  transform: translate(50%,-50%);
 }
 .login-form h1{
  font-weight: bold;
  font-size: 2.5rem;
  margin-bottom: 50px;
  
 }
 .login-form form{
  height: auto;
 }
 .login-form hr{
  display: block; height: 1px;
  border: 0; border-top: 1px solid #fff;
  margin: 1em 0; padding: 0; 
 }
 .login-form button{
  font-size: 16px;
 }
 #micon{
  font-size: 36px;
 }
 .main-footer{
  position: absolute;
  bottom: 0
 }
 #clock{
  font-family: 'Orbitron', sans-serif;
  color: #21242d;
  font-size: 50px;
 }
 #shadow{
  height:20px;
  border-radius:30px;
  background:transparent;
  width:200px;
  box-shadow:300px 0 10px 2px rgba(0,0,0,0.4);
  opacity: 1;
 }
 .marquee{
  margin-top: -25px;
  width: 100%;
  position: absolute;
  top: 50%; right: 50%;
  transform: translate(50%,-50%);
 }
 .marquee h1{
  font-size: 3vh;
 }
 .nounderline {
  text-decoration: none !important;
}